@model IEnumerable<Product>
<div class="featured-products-box owl-carousel owl-theme">
    @foreach(var item in Model)
    {
        <div class="item">
            <div class="products-single fix">
                <div class="box-img-hover">
                    <img src="@item.ProductPhoto" class="img-fluid" alt="Image">
                    <div class="mask-icon">
                        <ul>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                        </ul>
                        <a class="cart" href="/Cart/AddToCart/?productId=@item.ProductId">Add to Cart</a>
                    </div>
                </div>
                <div class="why-text">
                    <h4>@item.ProductName</h4>
                    <h5> @item.ProductPrice</h5>
                </div>
            </div>
        </div>


    }
   
</div>