<div class="custom-select-box">
    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
        <option>¥ JPY</option>
        <option>$ USD</option>
        <option>€ EUR</option>
        <option> VNĐ</option>
    </select>
</div>

@section Scripts{
   <script>
        console.log(document.querySelector(".filter-option"))
   </script>
}